#container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    width: 1600px;
    height: 1600px;
}

.tile {
    border: 1px solid black;
    width: 100px;
    height: 100px;
}